@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

body {
  background-color: #E9967A;
}

.dark-mode {
  background-color: #f0e8e8; /* atau warna latar belakang gelap lainnya */
  color: #fff; /* atau warna teks untuk mode gelap */
}